### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Eclipse files
*.project
*.classpath
*.settings/

# IntelliJ IDEA files
.idea/
*.iml

# NetBeans files
nbproject/

# Compiled Maven artifacts
target/